/*Global styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

p{
	font-size: 1.6rem;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

section{
	padding: 5rem 0;
}

/*styling header*/
header{
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand{
	width: 2rem;
}

.menu-icons{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}

.close{
	color:#fdbb2d;
}

.nav-list{
	width:25rem;
	height: 100vh;
	background-color: #fdbb2d;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}

.nav-list.active{
	right: 0;
}

.close{
	position: absolute;
	top:1rem;
	left: 1.5rem;
}

.nav-item{
	margin: 1.5rem;
}

.nav-link{
	font-size: 1.6rem;
	text-transform: uppercase;
	color: rgba(0,0, 0, .7);
}


.p{
	text-transform: lowercase;
}

.btn{
	background-color: #22c1c3;
	color: #fafafa;
	display: inline-block;
	margin-top: 1.5rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	transition: background-color 650ms;
}

.btn:hover {
	background-color: #508e8f;
}


.activities-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
}

.activities-grid-item{
	height: 40rem;
	padding: 5rem;
	color: #fafafa;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	z-index: 1;
}

.activities-grid-item::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(233,100,67,0.8)0%, rgba(144, 78, 149, 0.9)
	100%);
	z-index: -1;
}

.activities-grid-item i{
	font-size: 4rem;
	color: #904e95;
}

.activities-grid-item h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

/*Begin adventures*/
.adventure-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	margin-bottom: 2rem;
}

footer{
	padding: 2.5rem 0;
	background-color: #d7d4ed;
	text-align: center;
	color: rgba(0,0,0,.7);
}

/*media queries*/
@media screen and (min-width: 350px){
	.main-message{
		transform: translateY(40%);
	}
}


@media screen and (min-width: 700px){
	header{
		height: 8rem;
	}

	.nav-brand{
		width: 6rem;
	}

	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}

	.menu-icons{
		display: none;
	}

	.nav-item{
		margin: 0 2.5rem;
	}

	.nav-link,
	.current{
		color: #fafafa;
		position: relative;
		font-size: 1.3rem;
	}

	.nav-link::before,
	.current::before{
		content:"";
		position: absolute;
		left: 0;
		bottom: -.5rem;
		background-color: #fdbb2d;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform  650ms;

	}

	.current::before{
		transform: scaleX(1);
	}

	.nav-link:hover::before{
		transform: scaleX(1);
	}

	.title-heading h1{
		font-size: 2.5rem;
	}
}



 .class-for-Products{
  margin-bottom: 2rem;
	background: #22c1c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
	background: linear-gradient(to right, #fdbb2d, #22c1c3);
  text-align: center;
  font-size: large;
  position: relative;
  padding: 5px;

 }


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 270px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 25px;
}



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #white;
  color: black;
}

/* Style the back side */
.flip-card-back {
	border-radius: 25px;
  background-color: white;
  font-family: 'Aldrich', sans-serif;
	font-size: 2rem;
	margin: .5rem 0 1rem;
  color: black;
  text-align: center;
  transform: rotateY(180deg);
}

main{
	padding-top: 70px;
	padding-left: 25px;
	padding-right: 25px;
}
