<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <!-- Theme -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../assets/css/theme/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/theme/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/theme/css/style.css">
    <link rel="stylesheet" href="./style.css">
    <title>Funbrain</title>
  </head>
  <body>
<div class="row">

</div>
    <div class="container" id="vue" style="margin-top:auto;">
      <h1 class="jk">Learning Games</h1>
      <input class="search" placeholder="Search a title, description, or category" v-model="liveSearchString" />
      <div class="loading" v-show="loading"></div>
      <div class="images-wrapper" v-show="!loading">
        <transition-group name="image-wrapper" tag="div" class="images-inner">
          <div class="image-wrapper" v-for="(image, i) in truncatedFilteredImages" :key="image.id + i">
            <div class="image-img" :style="{ background: 'url(' + image.url + ')' }"></div>
            <div class="image-details">
              <h3 class="image-title">{{ image.name }}</h3>
              <p class="image-description"><span></span>{{ image.description | truncateText }}<span></span></p>
              <p class="image-category"></p>
              <p class="image-category"><b>Category:</b> {{ image.category }}<a style="margin-top:5px;float:right;" href="#" class="btn btn-sm btn-primary btn-custom-1"><i class="fa fa-gamepad"></i> Play Now</a></p>
            </div>
          </div>
        </transition-group>
      </div>
      <div class="load-wrapper" v-show="!loading && liveSearchString == ''">
        <div class="button-wrapper" v-if="!allLoaded">
          <button @click="showMore()">Load More</button>
        </div>
        <p v-else>ALL LOADED</p>
      </div>
      <div id="imageLoaderDock" style="display: none"></div>
    </div>
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js'></script><script  src="./script.js"></script>
      <div class="white_background">
        <div class="container">
          <h2 class="justify-content-center">Trending Games</h2>
          <div class="row mb-5 cstm-height-card">
        <div class="col-md-4 mw5">
          <div class="card h-100">
            <img src="../assets/images/thumbs/logrun.gif" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Log Run</h5>
              <p class="card-text">Jump and duck to dodge obstacles.</p>
              <a href="#" class="btn btn-sm btn-primary btn-custom-1"><i class="fa fa-gamepad"></i> Play Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mw5">
          <div class="card h-100">
            <img src="../assets/images/thumbs/math.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Math Soccer</h5>
              <p class="card-text">Score goals by answering math problems!</p>
              <a href="#" class="btn btn-sm btn-primary btn-custom-1"><i class="fa fa-gamepad"></i> Play Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mw5">
          <div class="card h-100">
            <img src="../assets/images/thumbs/spell.gif" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Spellaroo</h5>
              <p class="card-text">Help Spellaroo with his spelling!</p>
              <a href="#" class="btn btn-sm btn-primary btn-custom-1"><i class="fa fa-gamepad"></i> Play Now</a>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
