@import "pricing.css";
#logoimg , #logotxt {
        vertical-align: middle;
        display: flex;
        align-items: center; /* Vertical */
  justify-content: center; 
    }
body{
    background-color: dimgray;
}
.cstm-height-card .card-img-top {
  height: 200px;
    object-fit: cover;
}
.mw5{
  margin-bottom: 8px !important;
}
.footer{
  margin-top: 25px !important;
}
.btn-custom-1 {
    border-radius: 30px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 10px 20px !important;
}
.text-cursive {
  font-family: "Indie Flower", cursive !important; }

#mb_parallax_1 {
  background-image: url(../images/thumbs/bg5.jpg);
}
.mb_parallax_container {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.grey_background{
    padding-top: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 10px;
}

.call_to_action
{
    /* background-image: url('../images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */

}

.more_details
{
    float: right;
    display: flex;
}

.more_details > p
{
    padding-right: 18px;
}

.nav{
    padding-top: 20px;
}

.nav > div > a{
    color: black;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}

.nav > div {

    margin-left: 50px;
}

.call_to_action{
    padding-top: 150px;
}

.white_background
{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.white_background > .container > h2
{
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.light_grey_background
{
    background-color:lightblue;
}

.about_us
{
    padding-top: 50px;
    padding-bottom: 100px;
}

.about_intro
{
    padding-top: 80px;
}

.sky_blue_background
{
    background-color:greenyellow ;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 80px;
}
