@import "pricing.css";
body{
    background-color: dimgray;
}
.cstm-height-card .card-img-top {
  height: 200px;
  object-fit: cover;
}
.text-cursive {
  font-family: "Indie Flower", cursive !important; }

#mb_parallax_1 {
  background-image: url(https://picsum.photos/700/300/);
}
.mb_parallax_container {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.grey_background{
    padding-bottom: 250px;
    background-image:  url('../images/pexels-suzy-hazelwood-1329645.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.call_to_action
{
    /* background-image: url('../images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */

}

.more_details
{
    float: right;
    display: flex;
}

.more_details > p
{
    padding-right: 18px;
}

.nav{
    padding-top: 20px;
}

.nav > div > a{
    color: black;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}

.nav > div {

    margin-left: 50px;
}

.call_to_action{
    padding-top: 150px;
}

.white_background
{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.white_background > .container > h2
{
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.light_grey_background
{
    background-color:lightblue;
}

.about_us
{
    padding-top: 50px;
    padding-bottom: 100px;
}

.about_intro
{
    padding-top: 80px;
}

.sky_blue_background
{
    background-color:greenyellow ;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 80px;
}
